{% load publication_extras %}

{% if publication.authors_escaped|length > 8 %}
	{% for author, author_escaped in publication.authors_escaped|slice:":8" %}
	<a href="{% url 'publications:author' author_escaped %}" class="author">{{ author }}</a>,
	{% endfor %} <i>et al.</i>
{% else %}
	{{  publication|authors }}
{% endif %}<br/>
<a href="{{ publication.get_absolute_url }}">{{ publication.title|tex_parse }}</a><br/>
{% if publication.journal %}
	<i>{{ publication.journal }}</i>{% if publication.note %} ({{ publication.note }}){% endif %},
	{% if publication.volume %}{{ publication.volume }}{% if publication.number %}/{{ publication.number }}{% endif %}{% endif %} ({{ publication.year }}){% if publication.pages %}: {{ publication.pages }}{% endif %}.	
{% else %}
	{% if publication.book_title %}<i>{{ publication.book_title }}</i>{% if publication.note %} ({{ publication.note }}){% endif %},{% endif %}
	{% if publication.location %}{{ publication.location }}: {% endif %}{% if publication.publisher %}{{ publication.publisher }},{% endif %}
	{% if publication.institution %}{{ publication.institution }},{% endif %}
	{{ publication.year }}{% if publication.isbn %},
	ISBN {{ publication.isbn }}{% endif %}.
{% endif %} 
{% if publication.keywords %}
	{% for keyword, keyword_escaped in publication.keywords_escaped %}
	<a class="keyword" href="{% url 'publications:keyword' keyword_escaped %}">{{ keyword }}</a>
	{% endfor %}
	<br />
{% endif %}
{% if user.is_staff %}<a data-toggle="tooltip" data-placement="bottom" title="Edit" href="{% url 'publications:publication_update' publication.citekey %}"><i class="fas fa-edit"></i></a>{% endif %}

{% if publication.code %}<a class="link" href="{{ publication.code }}">Code</a>,{% endif %}
{% if publication.url %}<a data-toggle="tooltip" data-placement="bottom" title="External Link" class="link" rel="external" href="{{ publication.url }}"><i class="fas fa-external-link-alt"></i></a>{% endif %}
{% if publication.doi %}<a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>{% endif %}
{% if not publication.journal and publication.isbn %}<a class="link" rel="external" href="http://isbndb.com/search/all?query={{ publication.isbn }}">ISBN</a>,{% endif %}
{% if publication.media_public or perms.publications.view_media %}
	{% if publication.pdf %}<a class="link" href="{{ publication.pdf.url }}" data-toggle="tooltip" data-placement="bottom" title="PDF" ><i class="fas fa-file-pdf"></i></a>,{% endif %}
	{% for file in publication.files %}
		<a class="link" href="{{ file.file.url }}">{{ file.description }}</a>
	{% endfor %}
{% endif %}
{% for link in publication.links %}
	<a class="link" rel="external" href="{{ link.url }}">{{ link.description }}</a>
{% endfor %}
Export: <a class=" link" href="{% url 'publications:publication_ris' publication.citekey %}">RIS</a>
<a class="link" href="{% url 'publications:publication_bibtex' publication.citekey %}">BibTex</a>		

  
  
<abbr class="unapi-id" title="{{ publication.id }}"></abbr>
<span class="Z3988" title="{{ publication.z3988 }}"></span>
